# Auto detect text files and perform LF normalization
* text=auto

# Ensure shell scripts always use LF line endings for Docker Linux containers
*.sh text eol=lf

# Windows batch files use CRLF
*.bat text eol=crlf

# Binary files
*.dump binary
